//----------------------------------------------------------------
//
// Normalizing our CSS
//
//----------------------------------------------------------------

li {
  list-style: none;
}

p {
    margin: 0;
}

figure {
    margin: 0;
}