{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="feed-container">
        <ul class="posts-list">
            {% include "feed/form.html" %}

            {% for post in postList %}
                {% include "feed/post.html" %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>
