{% load staticfiles  %}

<li class="form feed-item">
    <span class="little-bar"></span>
    <form action="." method="post">
        {% csrf_token %}
        <img height="65px" width="65px" src="{% static "img/unknown-user.png" %}" alt="" class="avatar-img">
        <input type="text" class="body" name="body" placeholder="Envie sua mensagem!">
        <input type="submit" class="submit" value="Enviar">
    </form>
    {% if error_message %}
    <div class="error-message">{{ error_message }}</div>
    {% endif %}
</li>
