{% load staticfiles %}

<li class="post feed-item">
    <section class="head-body">
        <aside class="author-avatar">
        {% if post.author.avatar %}
        <figure>
            <img src="{{ post.author.avatar }}" alt="" class="avatar-img">
        </figure>
        {% else %}
        <figure>
            <img src="{% static 'img/unknown-user.png' %}" alt="" class="avatar-img">
        </figure>
        {% endif %}

            {% if post.author.role %}
            <figure>
                <img width="27px" height="27px" src="http://icons.iconarchive.com/icons/ampeross/qetto-2/256/check-icon.png" alt="Famoso" class="famous-checked">
            </figure>
            {% endif %}
        </aside>
        <main class="author-post">
            <p class="author-name">{{ post.author.name }}</p>
            <p class="created-at">{{ post.created_at_in_words }}</p>
            <p class="post-body">
                {% autoescape off %}{{ post.body }}{% endautoescape %}
            </p>
        </main>
    </section>

    {% if post.image %}
    <div class="img-container">
        <figure>
            <img width="620" src="{{ post.image.imageFeedUrl }}" alt="{{ image.credits }}">
        </figure>
    </div>
    {% endif %}

    {% if post.video %}
    <div class="video">
        <figure>
            <img width="620" height="320" src="{{ post.video.thumb }}" alt="" class="thumb">
            <span class="play-icon">
        </figure>
    </div>
    {% endif %}
</li>
