.form {
    border-top: 1px solid $border-light-gray;
    position: relative;

    .avatar-img {
        @extend %inline-elements;
        vertical-align: middle;
    }

    .body {
        @extend %inline-elements;
        height: 32px;
        width: 440px;
        border-radius: 3px;
        border: 1px solid #DEDEDE;
        border-top: 1px inset;
        padding: 0 0 0 10px;
        font-size: 17px;
        font-style: italic;
        letter-spacing: -1px;
        box-shadow: inset 0 0 1px #000;
        margin-left: 5px;
    }

    .submit {
        @extend %inline-elements;
        @extend %title;
        height: 34px;
        width: 90px;
        background-image: linear-gradient(#78b03e, #85C73E, #78b03e);
        border-radius: 3px;
        border: 0;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        position: relative;
        bottom: 2px;
        left: 2px;
    }
}

.little-bar {
    display: block;
    height: 5px;
    width: 80px;
    background: $green;
    position: absolute;
    left: 0;
    top: -5px;
}

.error-message {
    height: 20px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #F00;
}