//----------------------------------------------------------------
//
// This is necessary for comment and for form molecules
//
//----------------------------------------------------------------


// A placeholder to round the elements
%rounded-img {
    border-radius: 40px; // For while its enough but maybe need be increased
}

.feed-item {
    border-bottom: 1px solid $border-light-gray;
    padding: 25px 0;
}

.avatar-img {
    @extend %rounded-img;
}
