@import "../molecules/post";
@import "../molecules/form";
@import "../molecules/molecules-common";

.posts-list {
    width: 620px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 0 20px;
}

.feed-container {
    background-color: #DEDEDE;
}
